*[200~C:UsersrenatDocumentsGitHubHorrorscapeVRAssetsScenesTestSpawnSceneHorroscapeIADETESTLVL1.fbx~ filter=lfs diff=lfs merge=lfs -text
C:/Users/renat/Documents/GitHub/HorrorscapeVR/Assets/Scenes/TestSpawnScene/HorroscapeIADETESTLVL1.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Scenes/TestSpawnScene/HorroscapeIADETESTLVL1.fbx filter=lfs diff=lfs merge=lfs -text
